/* 
NAVBAR
 */

.custom-navbar {
  background: rgba(255, 255, 255, 0.95);

  backdrop-filter: blur(12px);

  position: sticky;

  top: 0;

  z-index: 1000;

  box-shadow: var(--shadow);

  padding: 14px 0;
}

/* CONTAINER LOGO */

.logo-container {
  display: flex;

  align-items: center;

  gap: 15px;

  text-decoration: none;
}

/* LOGO */

.logo-container img {
  width: 75px;

  border-radius: 12px;
}

/* TEXTO LOGO */

.logo-texto h1 {
  font-size: 1.2rem;

  font-weight: 700;

  margin: 0;

  color: var(--cprimario);
}

.logo-texto p {
  margin: 0;

  font-size: 0.82rem;

  color: var(--cgris);
}

/* LINKS */

.navbar-nav {
  gap: 18px;

  align-items: center;
}

/* LINK */

.nav-link {
  position: relative;

  font-weight: 500;

  color: var(--ctexto);

  transition: 0.3s;

  padding: 8px 0;
}

/* HOVER */

.nav-link:hover {
  color: var(--crojo);
}

/* LINEA */

.nav-link::after {
  content: "";

  position: absolute;

  left: 50%;

  bottom: -5px;

  transform: translateX(-50%);

  width: 0;

  height: 2px;

  background: var(--crojo);

  transition: 0.3s;

  border-radius: 10px;
}

/* HOVER LINEA */

.nav-link:hover::after {
  width: 100%;
}

/* ACTIVO */

.router-link-exact-active {
  color: var(--crojo) !important;

  font-weight: 600;
}

.router-link-exact-active::after {
  width: 100%;
}

/* BOTON RESPONSIVE */

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* ===================================================
   RESPONSIVE
=================================================== */

@media (max-width: 992px) {
  .top-bar {
    display: none;
  }

  .logo-container {
    gap: 10px;
  }

  .logo-container img {
    width: 60px;
  }

  .logo-texto h1 {
    font-size: 1rem;
  }

  .logo-texto p {
    font-size: 0.72rem;
  }

  .navbar-nav {
    margin-top: 20px;

    gap: 12px;

    text-align: center;
  }
}
