.custom-navbar {
  background: var(--navbar);
  box-shadow: var(--sombra-hover);
  padding: 0;
}

.navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
/* LOGO */

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}

.logo-container img {
  height: 85px;
  transition: 0.3s;
}

.logo-container:hover img {
  transform: scale(1.03);
}

/* TEXTO */

.logo-texto h1 {
  font-size: 1.4rem;
  margin: 0;
  color: var(--principal);
  font-weight: 700;
}

.logo-texto p {
  margin: 0;
  font-size: 0.8rem;
  color: var(--texto-secundario);
}

/* LINKS */

.navbar-nav {
  gap: 15px;
}

.nav-link {
  font-weight: 500;
  color: var(--navbar-texto);
  position: relative;
  transition: 0.4s;
}

/* hover line */
.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: var(--accion);
  transition: 0.4s;
}

.nav-link:hover::after,
.router-link-exact-active::after {
  width: 100%;
}

/* active */

.router-link-exact-active {
  color: var(--accion) !important;
  font-weight: 600 !important;
}

/* toggler */

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* OFFCANVAS */

.offcanvas {
  background: var(--fondo) !important;
  width: 320px !important;
  height: 100vh !important;
  top: 0;
}

@media (max-width: 576px) {
  .logo-container {
    gap: 8px;
  }

  .logo-container img {
    width: 55px;
  }

  .logo-texto h1 {
    font-size: 1rem;
  }

  .logo-texto p {
    display: none;
  }
}
