.hero-nosotros {
  height: 83vh;
  position: relative;
  overflow: hidden;
  margin-left: calc(-50vw + 50%);
}

.hero-nosotros::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.6)
  );
  z-index: 1;
}

.hero-nosotros img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  transition: 0.8s;
}

.hero-nosotros:hover img {
  transform: scale(1.08);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  color: var(--texto-light);
  z-index: 2;
}

.overlay h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.overlay p {
  max-width: 750px;
  margin: auto;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.85);
}

.contenedor-info {
  width: 90%;
  margin: auto;
  padding: 90px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card-info {
  align-items: center;
  text-align: center;
  background: var(--card);
  border-radius: var(--radius);
  padding: 35px 30px;
  box-shadow: var(--sombra);
  border-top: 5px solid var(--accion);
  transition: 0.4s;
  position: relative;
  overflow: hidden;
}

.card-info:hover {
  transform: translateY(-10px);
  box-shadow: var(--sombra-hover);
  .icono {
    background: var(--gradiente-accion);
  }
}

.card-info::before {
  content: "";
  position: absolute;
  top: -20%;

  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.11);
}

.icono {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  background: var(--fondo);
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--texto-light);
  border: 2px solid var(--borde);
  transition: 0.4s;
}

.card-info h2 {
  color: var(--principal);
}

.card-info p,
.card-info ul {
  color: var(--texto-secundario);
}

.requisitos {
  padding: 80px 8%;
  background: var(--gradiente-principal);
  text-align: center;
  color: var(--texto-light);
}

.lista-requisitos {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.requisitos h2 {
  font-size: 2.3rem;
}

.subtitulo {
  color: var(--texto-secundario);
}

.req {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(8px);
  padding: 25px;
  border-radius: var(--radius);
  transition: 0.4s;
}

.req:hover {
  transform: translateY(-8px);
  background: rgba(255, 255, 255, 0.15);
}

.info-academica {
  width: 90%;
  margin: auto;
  padding: 90px 0;
  text-align: center;
}

.info-academica h2 {
  color: var(--principal);
  font-size: 2.3rem;
}

.info-grid {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.info-box {
  background: var(--card);
  border-radius: var(--radius);
  padding: 35px 25px;
  box-shadow: var(--sombra);
  transition: 0.4s;
  position: relative;
  overflow: hidden;
}

.info-box:hover {
  transform: translateY(-10px);
  box-shadow: var(--sombra-hover);
  .icono-info {
    scale: 1.2;
  }
}

.icono-info {
  width: 70px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  font-size: 3rem;
  transition: 0.4s;
}

.inscribete {
  padding: 120px 8%;
  text-align: center;
  background: var(--gradiente-principal);
  color: var(--texto-light);
}

.btn-inscripcion {
  display: inline-block;
  padding: 15px 35px;
  border-radius: 50px;
  background: var(--gradiente-accion);
  color: var(--texto-light);
  font-weight: 700;
  transition: 0.4s;
  text-decoration: none;
}

.btn-inscripcion:hover {
  transform: translateY(-6px) scale(1.03);
}

/* contacto */
.contacto {
  padding: 90px 8%;
  background: var(--fondo);
  text-align: center;
}

.contacto h2 {
  font-size: 2.3rem;
  color: var(--principal);
}
.contacto-card {
  max-width: 900px;
  margin: auto;
  background: var(--card);
  border-radius: 30px;
  padding: 50px;
  box-shadow: var(--sombra);
}

.info-contacto p {
  color: var(--texto);
}
.redes {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.redes a {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.3rem;
  background: var(--principal);
  color: var(--texto-light);
  transition: 0.4s;
}

.redes a:hover {
  transform: translateY(-8px) rotate(360deg);
  background: var(--secundario);
  color: var(--texto);
}

iframe {
  border-radius: 25px;
}

@media (max-width: 992px) {
  .contenedor-info,
  .lista-requisitos,
  .info-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .overlay h1 {
    font-size: 2.5rem;
  }

  .contenedor-info,
  .info-academica {
    width: 92%;
  }

  .contacto-card {
    padding: 30px 20px;
  }
}
