/* 
  VISTA A 
 */

:root {
  --principal: #1e293b;
  --principal-light: #334155;
  --secundario: #eab308;
  --accion: #dc2626;

  --fondo: #f6f7ee;
  --fondo-alt: #f3ebd4;
  --card: #f3e8e8;

  --texto: #1e293b;
  --texto-light: #f8fafc;
  --texto-secundario: #64748b;

  --navbar-bg: rgba(255, 255, 255, 0.95);
  --footer-bg: rgba(15, 23, 42, 0.92);

  --borde: #cbb4b4;

  --sombra: 5px 5px 10px 5px rgba(0, 0, 0, 0.162);
  --sombra-hover: 8px 8px 20px 10px rgba(0, 0, 0, 0.219);

  --gradiente-principal: linear-gradient(135deg, #1e293b, #334155);
  --gradiente-accion: linear-gradient(135deg, #e05c5c, #c91616);

  --radius: 18px;
}
/* VISTA B —  */

/* :root {
  --cprimario: #111827;

  --cprimario-light: #1f2937;

  --csecundario: #facc15;

  --crojo: #ef4444;

  --cnegro: #020617;

  --cards: #1e293b;

  --cfondo: #0f172a;

  --ctexto: #f8fafc;

  --cgris: #cbd5e1;

  --cborder: #334155;

  --gradient-principal: linear-gradient(135deg, #111827, #1e293b);

  --gradient-secundario: linear-gradient(135deg, #dc2626, #991b1b);

  --navbar: rgba(2, 6, 23, 0.92);

  --shadow: 0 4px 20px rgba(0, 0, 0, 0.35);

  --shadow-hover: 0 10px 30px rgba(0, 0, 0, 0.45);

  --radius: 18px;
} */
